/*Estilos agregados por mi*/

body, input, button {
  font-size: medium ;
  font-family: 'Roboto', sans-serif;
 }

/* NavBar */
nav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 0;

  background-color: #919191;
  height: 3rem;
  padding: 1px;
}

.navSuperior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 1px;
}

.navSuperior h1 {
  padding: 0;
  margin: 0;
  color: #707070;
}

.navSuperior button {
  background: none;
  border: none;
  font-weight: bold;
  font-style: italic;
  color: #707070;
}

.navSuperior button:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.navSuperior button:active {
  color: #969696;
}

nav button {
  background: none;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid #919191;
  color: white;
  font-weight: bold;
  cursor: pointer
}

nav button:hover {
  background: #808080;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid;
}

nav button:active {
  background: #727272;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid rgb(212, 212, 212);
}

/* Container */ 
.containerItemDetailContainer h1 {
  margin-bottom: 1rem;
  color: #707070;
  text-shadow: 1px 1px 2px #70707090;
}


/*Estilos por defecto React*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
